{% extends 'website/base.html' %}
{% block conteudo %}
    <article>
        <h1>CONTATO</h1>
        <p>
            Lorem ipsum maecenas curae euismod diam viverra consequat proin, facilisis donec volutpat curabitur potenti iaculis lacinia sapien, et aenean primis sapien lacus gravida scelerisque.
            praesent potenti nec praesent nunc aliquet facilisis dictum cursus morbi, tristique arcu risus praesent consectetur praesent tincidunt est risus, laoreet volutpat cubilia sed habitasse et lacinia inceptos.
            senectus phasellus nam massa venenatis fringilla pellentesque semper, sapien commodo et varius velit commodo tincidunt ornare, laoreet diam tortor senectus consequat ipsum.
            etiam varius feugiat pulvinar sollicitudin sodales, tellus himenaeos imperdiet at pellentesque curabitur, mollis sociosqu accumsan enim.
            nostra velit sem egestas fusce mattis nulla consequat malesuada convallis, pellentesque diam aliquet quam etiam phasellus pretium malesuada proin, hac scelerisque consequat maecenas dui ornare fusce vulputate.
        </p>
    </article>
{% endblock %}
{% block titulo %}
    Contato
{% endblock %}