{% extends 'website/base.html' %}

{% block conteudo %}
    <article>
        <div class="blog-post-title">
            <h2>
                <a href="{% url 'website:post_detail' post.slug %}">
                    {{ post.titulo }}
                </a>
            </h2>
        </div>
        <div class="blog-description">
            {{ post.resumo|safe }}
        </div>
        <div class="blog-post">
            {{ post.conteudo|safe }}
        </div>
        <small>publicado em:<time>{{ post.data_publicacao }}</time></small>
    </article>

{% endblock %}
