{% extends 'website/base.html' %}
{% block conteudo %}
    {% for post in posts %}
        <div class="blog-post">
            <p>publicado em:<time>{{ post.data_publicacao }}</time></p>
            <div class="blog-post-title">
                <h2>
                    <a href="{% url 'post_detail' pk=post.pk %}">
                        {{ post.titulo }}
                    </a>
                </h2>
            </div>
            <div class="blog-post">
                <p>{{ post.texto |linebreaksbr }}</p>
            </div>
            </div>
        {% endfor %}
{% endblock %}