{% extends 'website/base.html' %}
{% block conteudo %}
    <article>
        <h1>Sobre Nós</h1>
        <p>
            Lorem ipsum maecenas curae euismod diam viverra consequat proin, facilisis donec volutpat curabitur potenti iaculis lacinia sapien, et aenean primis sapien lacus gravida scelerisque.
            praesent potenti nec praesent nunc aliquet facilisis dictum cursus morbi, tristique arcu risus praesent consectetur praesent tincidunt est risus, laoreet volutpat cubilia sed habitasse et lacinia inceptos.
            senectus phasellus nam massa venenatis fringilla pellentesque semper, sapien commodo et varius velit commodo tincidunt ornare, laoreet diam tortor senectus consequat ipsum.
            etiam varius feugiat pulvinar sollicitudin sodales, tellus himenaeos imperdiet at pellentesque curabitur, mollis sociosqu accumsan enim.
            nostra velit sem egestas fusce mattis nulla consequat malesuada convallis, pellentesque diam aliquet quam etiam phasellus pretium malesuada proin, hac scelerisque consequat maecenas dui ornare fusce vulputate.
        </p>
        <p>
            Faucibus est etiam posuere risus donec habitant, nullam ornare augue tristique porta taciti feugiat, magna tortor accumsan conubia class.
            imperdiet ultricies lacinia proin leo commodo venenatis fringilla, senectus per sit auctor nisl in nec tincidunt, quam fames bibendum volutpat massa senectus.
            netus proin etiam torquent tristique himenaeos per curae leo suscipit hac varius, placerat aliquet amet venenatis netus nulla mattis netus litora imperdiet tristique tincidunt, sed magna at odio hendrerit hac nibh conubia quisque eros.
            habitant nullam ultricies pretium ante gravida interdum habitant, libero sollicitudin facilisis nulla senectus lectus vivamus, turpis donec porttitor habitasse diam suscipit.
        </p>
    </article>

{% endblock %}
{% block titulo %}
    Sobre Nós
{% endblock %}